<ul class="books">
    <li *ngFor="let book of books" (click)="onSelect(book)" [class.selected]="book === selectedBook">
        <a>
            <!-- <a routerLink="/detail/{{book.id}}"> -->
            <span class="badge">{{book.title}}</span>
        </a>
        <button class="delete" title="delete book">x</button>
    </li>
</ul>


<div *ngIf="selectedBook">
    <p>
        <label>Title:
            <input [(ngModel)]="selectedBook.title" placeholder="title" />
        </label>
        <br />
    </p>
    <p>
        <label>Author:
            <input [(ngModel)]="selectedBook.author" placeholder="author" />
        </label>
        <br />
    </p>
    <p>
        <label>Language:
            <input [(ngModel)]="selectedBook.language" placeholder="language" />
        </label>
    </p>
</div>